.top_container {
  display: flex;
  flex-direction: column;
}

.header_area {
  background-color: cyan;
  height: 80px;
}

.hero_area {
  background-color: pink;
  height: 600px;
}

.section1_area {
  background-color: rgb(229, 255, 255);
  height: 450px;
}

.section2_area {
  background-color: rgb(247, 255, 229);
  height: 450px;
}

.footer_area {
  background-color: var(--footerBgColor);
  height: 400px;
}
