* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', Arial, sans-serif;
}

a {
  text-decoration: none;
  color: var(--primaryTextColor);
}

:root {
  --primaryColor: #007cb6;
  --secondaryColor: #e3661b;
  --errorColor: #f44336;
  --primaryTextColor: #232f3e;
  --secondaryTextColor: #6c7778;
  --headerBgColor: #ffffff;
  --headerBorderColor: #EAEDED;
  --headerMenuBgColor: #ffffff;
  --headerMenuSubNavTextColor: #232f3e;
  --aboveBgColor: #fafafa;
  --belowBgColor: #fafafa;
  --footerBgColor: #232f3e;
  --footerTextColor: #ffffff;
  --buttonBgColor: transparent;
  --buttonTextColor: #007cb6;
  --primaryHeadlineFont: Amazon Ember;
  --secondaryHeadlineFont: Amazon Ember;
  --tertiaryHeadlineFont: Ember Modern Display;
  --bodyFont: Amazon Ember;
  --contentWidth: 1240px;
}

@media screen and (min-width: 1024px) {
  :root {
    --description-1: 2rem;
    --title-1: 5.6rem;
    --title-2: 4.8rem;
    --title-4: 2.4rem;
    --title-5: 2rem;
    --title-3: 3rem;
  }
}